
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet"  href="/style.css">
  <title>TinyApp</title>

  
</head>
<h1>TinyApp</h1>

<% if ( loggedUser )  {%> 

<h5>Logged in as: <%=loggedUser.email%> </h5>
    <form method = "POST" action="/logout">
        <button type="submit" class="btn btn-primary">Log Out</button>
    </form>
<% } else { %>
  <a href="/login">Login</a> |
  <a href="/register">Register</a> 
<% }%>


<body style="font-size:20px; padding:50px;">
<form action="/login" method="POST">
    
</form>
    

