<%- include ./partials/_header.ejs %> <br />
<br />
<h3>Sign in page:</h3>

<form action="/login" method="POST">
  <div style="width: 25em;" class="form-group mb-2">
    <div class= "form-group">
      <label style= "padding-right:44px">Email:</label>
      <input type="email" name="email" placeholder="Johndoe@LHL.com">
    </div>

    <div class= "form-group">
      <label style="padding-right:10px;">Password:</label>
      <input type="password" name="password" placeholder="Type password here">
    </div>
  </div>

  <div>
    <button type="submit" class="btn btn-primary">Login</button>
  </div>
</form>

</body>
</html>