<%- include ./partials/_header.ejs %>

    <li>Short URL : <%= shortURL %></li>
    
  <form class="form-inline" action="/urls/<%= shortURL %>" method="POST">
    <input class="form-control" type="text" name="longURL" placeholder="<%= longURL %>" style="width: 300px; margin: 1em">
      <button type="submit" class="btn btn-primary">Update</button>

</body>
</html>